
#stopaircode{
    position:relative;
    width:112px;
    height:8px;
    margin:0 10px;
    display: inline-block;
}
#stopaircode em{
    position:absolute;
    left:0;
    width:100%;
    text-align:center;}
#stopaircode em#up{top:-4px;font-size: 14px;font-weight: 300;}
#stopaircode em#down{bottom:-18px;}
